@use '/src/assets/scss/variables.scss' as *;
@use '/src/assets/scss/mixins.scss' as *;
@use '/src/assets/scss/functions.scss' as *;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Space Grotesk', sans-serif;
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{"" + $color}-#{$shade}: #{$value};
    }
  }
  --white: #ffffff;
  --black: #000000;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-size: rem(28);
  @include breakpoint-up(md) {
    font-size: rem(32);
  }
}

a {
  text-decoration: none;
  color: inherit;
  :where(:visited) {
    color: inherit;
  }
}

@import './utility.scss';
