@use '/src/assets/scss/variables.scss' as *;
@use '/src/assets/scss/mixins.scss' as *;
@use '/src/assets/scss/functions.scss' as *;

.scrolltrigger {
  .boxes {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    &__box {
      &:nth-child(2n) {
        justify-self: end;
      }
    }
  }
  .placeholder {
    height: calc(100vh - rem(150));
    display: grid;
    place-content: center;
  }
}