@use '/src/assets/scss/variables.scss' as *;
@use '/src/assets/scss/mixins.scss' as *;
@use '/src/assets/scss/functions.scss' as *;

.header {
  border-bottom: 1px solid var(--gray-100);
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 11;
  background-color: var(--white);
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    @include breakpoint-up(md) {
      display: flex;
    }
  }
  &__logo {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: var(--cyan-500)
  }
  .hamburger {
    display: grid;
    gap: rem(5);
    justify-self: end;
    @include breakpoint-up(md) {
      display: none;
    }
    .line {
      width: 1.5rem;
      height: rem(3);
      background-color: var(--gray-800);
      border-radius: rem(5);
    }
  }
  .nav {
    grid-column: 1 / -1;
    position: absolute;
    top: rem(64);
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 1;
    &__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 1rem 0;
      font-weight: 600;
      color: var(--cyan-500);
      align-items: center;
      font-size: 1.2rem;
      @include breakpoint-up(md) {
        flex-direction: row;
      }
    }
    @include breakpoint-up(md) {
      position: relative;
      top: unset;
      left: unset;
      width: unset;
      transform: translate(0, 0) !important;
    }
  }
}
