@use '/src/assets/scss/variables.scss' as *;
@use '/src/assets/scss/mixins.scss' as *;
@use '/src/assets/scss/functions.scss' as *;

.examples {
  .links {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    @include breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
    &__item {
      padding: 0.5rem 1rem;
      background-color: var(--cyan-600);
      border-radius: 0.25rem;
      color: var(--white);
      padding-right: 2rem;
      position: relative;
      font-weight: 500;
      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1.25rem;
        right: 0.5rem;
        top: 0;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20'%3E%3Cpath fill='white' d='m12.5 15.5-1.062-1.062 3.687-3.688H2v-1.5h13.125l-3.687-3.688L12.5 4.5 18 10Z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
