@use '/src/assets/scss/variables.scss' as *;
@use '/src/assets/scss/mixins.scss' as *;
@use '/src/assets/scss/functions.scss' as *;

.triggeranim {
  .trigger {
    margin-bottom: 1rem;
    text-align: center;
  }
  .boxes {
    display: grid;
    justify-content: center;
    gap: 1rem;
  }
}
