@use '/src/assets/scss/variables.scss' as *;
@use '/src/assets/scss/mixins.scss' as *;
@use '/src/assets/scss/functions.scss' as *;

.smoothscroll {
  #smooth-content {
    padding-top: rem(73);
    background-image: linear-gradient(rgba(0, 0, 0, 0.07) 2px, transparent 2px), linear-gradient(90deg, rgba(0, 0, 0, 0.07) 2px, transparent 2px),
      linear-gradient(rgba(0, 0, 0, 0.06) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.06) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  }
  .boxes {
    display: grid;
    justify-items: center;
    gap: rem(500);
    margin-top: 3rem;
    padding-bottom: rem(500);
    &__box {
      width: rem(100);
      height: rem(100);
      background-color: var(--cyan-500);
      color: var(--white);
      font-weight: 500;
      display: grid;
      border-radius: 0.5rem;
      place-content: center;
    }
  }
}
